#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

if MBOX

config MBOX_MHUV3
	bool "ARM MHUV3 MBOX driver"
	help
	  Driver for Arm MHUv3 (Message Handling Unit v3)

config MBOX_MHUV3_MAX_LOGICAL_CH_NUM
	int "The maximum number of MHUv3's logical channel"
	default 32
	depends on MBOX_MHUV3
	help
	  This option specifies the maximum number of logical
	  channels. The default value is 32.

endif #MBOX
