#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

menu "Subsystems"
rsource "fault_mgmt/Kconfig"
rsource "ipc/psa_service/Kconfig"
endmenu
