#
# SPDX-FileCopyrightText: <text>Copyright 2024 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

image efi-capsule-update-disk-image-fvp-rd-kronos.img {
    hdimage {
        partition-table-type = "mbr"
    }
    partition update {
        image = "fs.vfat"
        # Mark it as an ESP for Systemready IR ACS test
        partition-type = 0xEF
    }
}

image fs.vfat {
    vfat {
        file unsigned_fw.cap {
            image = "@DEPLOY_DIR_IMAGE@/unsigned_efi-capsule-update-image.img.uefi.capsule"
        }
        file fw.cap {
            image = "@DEPLOY_DIR_IMAGE@/efi-capsule-update-image.img.uefi.capsule"
        }
        file tampered_fw.cap {
            image = "@DEPLOY_DIR_IMAGE@/tampered_efi-capsule-update-image.img.uefi.capsule"
        }
    }
    size = 128M
    temporary = true
}
