#
# SPDX-FileCopyrightText: <text>Copyright 2024 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

image rss-rom-image.img {
    hdimage {
        partition-table-type = "none"
    }
    partition bl1_1 {
        size = 56k
        image = "@RECIPE_SYSROOT@/firmware/bl1_1.bin"
    }
}

image rss-nvm-image.img {
    hdimage {
        partition-table-type = "none"
    }
    size = 0
}

image rss-flash-image.img {
    hdimage {
        partition-table-type = "gpt"
    }

    # Reserved_1
    partition reserved_1 {
        offset = 17k
        size = 3k
        partition-uuid = "B1F2FC8C-A7A3-4485-87CB-16961B8847D7"
        partition-type-uuid = F
    }

    # Metadata
    partition FWU-Metadata {
        offset = 20k
        size = 4k
        partition-uuid = "3FDFFEE1-3223-4C6B-80F9-B0E7D780C21D"
        partition-type-uuid = "8A7A84A0-8387-40F6-AB41-A8B9A5A60D23"
    }
    partition Bkup-FWU-Metadata {
        offset = 24k
        size = 4k
        partition-uuid = "B3068316-5351-4998-823A-3A7B09133EC1"
        partition-type-uuid = "8A7A84A0-8387-40F6-AB41-A8B9A5A60D23"
    }

    # Private
    partition private_metadata_replica_1 {
        offset = 28k
        size = 4k
        partition-uuid = "3CC3B456-DEC8-4CE3-BC5C-965483CE4828"
        partition-type-uuid = "ECB55DC3-8AB7-4A84-AB56-EB0A9974DB42"
    }
    partition private_metadata_replica_2 {
        offset = 32k
        size = 4k
        partition-uuid = "DCE9C503-8DFD-4DCB-8889-647E49641552"
        partition-type-uuid = "ECB55DC3-8AB7-4A84-AB56-EB0A9974DB42"
    }

    # Primary
    partition bl2_primary {
        offset = 36k
        size = 128k
        image = "@RECIPE_SYSROOT@/firmware/bl2_signed.bin"
        partition-uuid = "9A3A8FBF-55EF-439C-80C9-A3F728033929"
        partition-type-uuid = "64BD8ADB-02C0-4819-8688-03AB4CAB0ED9"
    }
    partition tfm_primary {
        offset = 164k
        size = 768k
        image = "@RECIPE_SYSROOT@/firmware/tfm_s_ns_signed.bin"
        partition-uuid = "07F9616C-1233-439C-ACBA-72D75421BF70"
        partition-type-uuid = "D763C27F-07F6-4FF0-B2F3-060CB465CD4E"
    }
    partition scp_primary {
        offset = 932k
        size = 512k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_scp_ramfw.bin"
        partition-uuid = "2B127310-2C59-40E4-80AD-D404B1BF87A3"
        partition-type-uuid = "8143005c-0892-41ae-b00c-03924e4ff22e"
    }
    partition si_cl0_primary {
        offset = 1444k
        size = 2048k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c0.bin"
        partition-uuid = "6B6C8336-A48A-404B-BA78-83E331E80FF3"
        partition-type-uuid = "096EFBC7-4D4C-49CA-84DC-375671DD5FC4"
    }
    partition si_cl1_primary {
        offset = 3492k
        size = 4096k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c1.bin"
        partition-uuid = "6E0E41B0-AB0E-4045-B123-34CF321AB015"
        partition-type-uuid = "112EB67C-84DF-4F6E-A5A1-B8C4B4DF7F1B"
    }
    partition si_cl2_primary {
        offset = 7588k
        size = 8192k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c2.bin"
        partition-uuid = "9CEF08B1-63AA-469D-8E8F-0585FF2CE344"
        partition-type-uuid = "5BC37E12-D74B-4C5B-9D2F-4FB221F8D3CE"
    }

    # There is 512K reserved between the above part and the below part
    # Secondary
    partition bl2_secondary {
        offset = 16356k
        size = 128k
        partition-uuid = "3F0C49A4-48B7-4D1E-AF59-3E4A3CE1BA9F"
        partition-type-uuid = "64BD8ADB-02C0-4819-8688-03AB4CAB0ED9"
    }
    partition tfm_secondary {
        offset = 16484k
        size = 768k
        partition-uuid = "F3535CF6-7095-4F07-A361-06AA6E88BE62"
        partition-type-uuid = "8143005c-0892-41ae-b00c-03924e4ff22e"
    }
    partition scp_secondary {
        offset = 17252k
        size = 512k
        partition-uuid = "2B127310-2C59-40E4-80AD-D404B1BF87A3"
        partition-type-uuid = "8143005c-0892-41ae-b00c-03924e4ff22e"
    }
    partition si_cl0_secondary {
        offset = 17764k
        size = 2048k
        partition-uuid = "9054B796-06F9-46D9-B7D6-9BCBE3D85937"
        partition-type-uuid = "096EFBC7-4D4C-49CA-84DC-375671DD5FC4"
    }
    partition si_cl1_secondary {
        offset = 19812k
        size = 4096k
        partition-uuid = "9B0A466F-FF39-4528-99AD-501FFEF268FC"
        partition-type-uuid = "112EB67C-84DF-4F6E-A5A1-B8C4B4DF7F1B"
    }
    partition si_cl2_secondary {
        offset = 23908k
        size = 8192k
        partition-uuid = "3CEDA2BB-8B40-4E10-8D0F-953977D51012"
        partition-type-uuid = "5BC37E12-D74B-4C5B-9D2F-4FB221F8D3CE"
    }

    # Reserved_2
    partition reserved_2 {
        offset = 32164k
        size = 3k
        partition-uuid = "CCB18569-C0BA-42E0-A429-FE1DC862D660"
        partition-type-uuid = F
    }
}

image ap-flash-image.img {
    hdimage {
        partition-table-type = "gpt"
    }

    # Reserved_1
    partition reserved_1 {
        offset = 17k
        size = 3k
        partition-uuid = "B1F2FC8C-A7A3-4485-87CB-16961B8847D7"
        partition-type-uuid = F
    }

    # Metadata
    partition FWU-Metadata {
        offset = 20k
        size = 4k
        partition-uuid = "3FDFFEE1-3223-4C6B-80F9-B0E7D780C21D"
        partition-type-uuid = "8A7A84A0-8387-40F6-AB41-A8B9A5A60D23"
    }
    partition Bkup-FWU-Metadata {
        offset = 24k
        size = 4k
        partition-uuid = "B3068316-5351-4998-823A-3A7B09133EC1"
        partition-type-uuid = "8A7A84A0-8387-40F6-AB41-A8B9A5A60D23"
    }

    # Primary
    partition FIP_A {
        offset = 28k
        size = 2048k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_fip.bin"
        partition-uuid = "8C820045-3D2F-47C2-90A7-C3D0AED1FBBB"
        partition-type-uuid = "64BD8ADB-02C0-4819-8688-03AB4CAB0ED9"
    }

    # Secondary
    partition FIP_B {
        offset = 2076k
        size = 2048k
        partition-uuid = "1006C53C-B444-4EB2-8C63-FBBAF05BA8C7"
        partition-type-uuid = "64BD8ADB-02C0-4819-8688-03AB4CAB0ED9"
    }

    # Reserved_2
    partition reserved_2 {
        offset = 4124k
        size = 3k
        partition-uuid = "CCB18569-C0BA-42E0-A429-FE1DC862D660"
        partition-type-uuid = F
    }
}

image efi-capsule-update-image.img {
    hdimage {
        partition-table-type = "none"
    }

    partition bl2 {
        size = 128k
        image = "@RECIPE_SYSROOT@/firmware/bl2_signed.bin"
    }
    partition tfm {
        size = 768k
        image = "@RECIPE_SYSROOT@/firmware/tfm_s_ns_signed.bin"
    }
    partition scp {
        size = 512k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_scp_ramfw.bin"
    }
    partition si_c0 {
        size = 2048k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c0.bin"
    }
    partition si_c1 {
        size = 4096k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c1.bin"
    }
    partition si_c2 {
        size = 8192k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_safety_island_c2.bin"
    }
    partition fip {
        size = 2048k
        image = "@TFM_IMAGE_SIGN_DEPLOY_DIR@/signed_fip.bin"
    }
}
