# Copyright (c) 2023 Arm Limited or its affiliates. All rights reserved.
#
# SPDX-License-Identifier: MIT

Image-Build-{{ CI_JOB_NAME_SLUG }}:
{% if BUILD_HOST_ARCH == 'x86_64' %}
  tags:
    - x86_64
{% endif %}
  extends: .kas_build_kronos
  variables:
    KAS_CONFIGS: "{{ CI_JOB_NAME }}"
  # Shouldn't interrupt a build or the DL_DIR can become corrupt
  interruptible: false
