# SPDX-FileCopyrightText: <text>Copyright 2023-2024 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

mainmenu "Arm Automotive Solutions Build Config"

#############################
# User-facing configuration #
#############################
comment "End-User License Agreement"

config ARM_FVP_EULA_ACCEPT_CHOICE
    bool "Accept the END USER LICENSE AGREEMENT FOR ARM SOFTWARE DEVELOPMENT TOOLS"
    default n
    help
      Please refer to "https://developer.arm.com/downloads/-/arm-ecosystem-fvps/eula"

comment "Target Build Setup"

choice
    prompt "Use-Case"
    default EXTRA_IMAGE_FEATURES_ACTUATION

config EXTRA_IMAGE_FEATURES_CAM
    bool "Critical Application Monitoring Demo"

config EXTRA_IMAGE_FEATURES_ACTUATION
    bool "Safety Island Actuation Demo"

config EXTRA_IMAGE_FEATURES_HIPC
    bool "Safety Island Communication Demo (using HIPC)"

config EXTRA_IMAGE_FEATURES_SI_PSA_STORAGE_TESTS
    bool "Safety Island PSA Secure Storage APIs Architecture Test Suite"

config EXTRA_IMAGE_FEATURES_SI_PSA_CRYPTO_TESTS
    bool "Safety Island PSA Crypto APIs Architecture Test Suite"

comment "Arm SystemReady IR Validation"

config USE_CASE_IR_FIRMWARE
    bool "Arm SystemReady IR Firmware Build"

config USE_CASE_IR_ACS
    bool "Arm SystemReady IR Architecture Compliance Suite (ACS) Tests"

comment "Linux Distribution Installation (Debian, openSUSE and Fedora)"

config USE_CASE_LINUX_DISTRO_DEBIAN
    bool "Debian Linux Distro Installation"

config USE_CASE_LINUX_DISTRO_OPENSUSE
    bool "openSUSE Linux Distro Installation"

config USE_CASE_LINUX_DISTRO_FEDORA
    bool "Fedora Linux Distro Installation"

endchoice

choice
    depends on EXTRA_IMAGE_FEATURES_CAM || EXTRA_IMAGE_FEATURES_ACTUATION || EXTRA_IMAGE_FEATURES_HIPC || EXTRA_IMAGE_FEATURES_SI_PSA_STORAGE_TESTS || EXTRA_IMAGE_FEATURES_SI_PSA_CRYPTO_TESTS
    prompt "Reference Software Stack Architecture"
    default ARCHITECTURE_BAREMETAL

config ARCHITECTURE_BAREMETAL
    bool "Baremetal"

config ARCHITECTURE_VIRTUALIZATION
    depends on EXTRA_IMAGE_FEATURES_ACTUATION || EXTRA_IMAGE_FEATURES_HIPC || EXTRA_IMAGE_FEATURES_CAM
    bool "Virtualization"

endchoice

comment "Runtime Validation Setup"
    depends on EXTRA_IMAGE_FEATURES_CAM || EXTRA_IMAGE_FEATURES_ACTUATION || EXTRA_IMAGE_FEATURES_HIPC || EXTRA_IMAGE_FEATURES_SI_PSA_STORAGE_TESTS || EXTRA_IMAGE_FEATURES_SI_PSA_CRYPTO_TESTS

config RUN_TESTS
    depends on EXTRA_IMAGE_FEATURES_CAM || EXTRA_IMAGE_FEATURES_ACTUATION || EXTRA_IMAGE_FEATURES_HIPC || EXTRA_IMAGE_FEATURES_SI_PSA_STORAGE_TESTS || EXTRA_IMAGE_FEATURES_SI_PSA_CRYPTO_TESTS
    bool "Run Automated Validation"
    default n

##############
# Set up Kas #
##############

config KAS_INCLUDE_ARCHITECTURE
    string
    default "yocto/kas/virtualization.yml" if ARCHITECTURE_VIRTUALIZATION
    default "yocto/kas/baremetal.yml" if ARCHITECTURE_BAREMETAL
    default "yocto/kas/arm-systemready-firmware.yml" if USE_CASE_IR_FIRMWARE
    default "yocto/kas/arm-systemready-ir-acs.yml" if USE_CASE_IR_ACS
    default "yocto/kas/arm-systemready-linux-distros-debian.yml" if USE_CASE_LINUX_DISTRO_DEBIAN
    default "yocto/kas/arm-systemready-linux-distros-opensuse.yml" if USE_CASE_LINUX_DISTRO_OPENSUSE
    default "yocto/kas/arm-systemready-linux-distros-fedora.yml" if USE_CASE_LINUX_DISTRO_FEDORA

config KAS_INCLUDE_APPLICATION
    string
    default "yocto/kas/cam.yml" if EXTRA_IMAGE_FEATURES_CAM
    default "yocto/kas/hipc-validation.yml" if EXTRA_IMAGE_FEATURES_HIPC
    default "yocto/kas/si-psa-storage-tests.yml" if EXTRA_IMAGE_FEATURES_SI_PSA_STORAGE_TESTS
    default "yocto/kas/si-psa-crypto-tests.yml" if EXTRA_IMAGE_FEATURES_SI_PSA_CRYPTO_TESTS

if RUN_TESTS
    config TESTIMAGE_AUTO
        string
        default "1" if RUN_TESTS
endif

config ARM_FVP_EULA_ACCEPT
    string
    default "1" if ARM_FVP_EULA_ACCEPT_CHOICE
    default "0"
