#
# Based on: https://git.openembedded.org/meta-openembedded/tree/meta-oe/recipes-connectivity/linuxptp/linuxptp/systemd/phc2sys@.service?id=35bcd8c6ddfb6bc8729d0006dab887afcc772ec9
# In open-source project: meta-openembedded
#
# Original file: SPDX-FileCopyrightText: <text>Copyright 2023 meta-openembedded
# community</text>
# Modifications: SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or
# its affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
Requires=ptp4l.service
After=ptp4l.service
Before=time-sync.target

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -w -s %I

[Install]
WantedBy=multi-user.target
