#
# SPDX-FileCopyrightText: <text>Copyright 2023-2024 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

name = "${DOMU_HOSTNAME}"
memory = ${DOMU_MEMORY_SIZE}
vcpus = ${DOMU_NUMBER_OF_CPUS}
extra = " earlyprintk=xenboot console=hvc0 rw"
root = "/dev/ram0"
kernel = "${DOMU_KERNEL_IMG}"

ramdisk = "${DOMU_RAMDISK}"
