#
# SPDX-FileCopyrightText: <text>Copyright 2023-2024 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

# PL18x MMC related configs
CONFIG_MISC=y
CONFIG_VEXPRESS_CONFIG=y
CONFIG_DM_GPIO=y
CONFIG_ARM_PL180_MMCI=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_COMMON=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_CMD_MMC=y
CONFIG_CMD_MMC_SWRITE=y
# Configs for MM communication between U-Boot and
# the secure world (OP-TEE) using the FF-A bus
CONFIG_ARM_FFA_TRANSPORT=y
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_EFI_MM_COMM_TEE=y
CONFIG_FFA_SHARED_MM_BUF_SIZE=4096
CONFIG_FFA_SHARED_MM_BUF_OFFSET=0
CONFIG_FFA_SHARED_MM_BUF_ADDR=0xffbf0000
# Cmds for EFI variables
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_NVEDIT_EFI=y
# Configs for debugging
CONFIG_HEXDUMP=y
# Configs for capsule update
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_FIRMWARE_RAW=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_ESRT=y
CONFIG_EFI_IGNORE_OSINDICATIONS=y
CONFIG_EFI_VAR_BUF_SIZE=65536
CONFIG_SYS_MALLOC_LEN=0x2000000
