#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

if PSA

config PSA_INTERNAL_TRUSTED_STORAGE
	bool "PSA Internal Trusted Storage"
	help
	  Activate PSA Internal Trusted Storage

module = PSA_API
module-str = PSA API
source "subsys/logging/Kconfig.template.log_config"

endif
