/*
 * SPDX-FileCopyrightText: <text>Copyright 2023-2024 Arm Limited and/or its
 * affiliates <open-source-office@arm.com></text>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	fault_mgmt {
		compatible = "zephyr,fault-mgmt";
		roots = <&system_fmu>;
		status = "okay";
	};
};

&system_fmu {
	status = "okay";
};

&pc_gic_fmu {
	status = "okay";
};

&si_gic_fmu {
	status = "okay";
};

&ssu {
	status = "okay";
};
