#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

config FAULT_MGMT_ARM_FMU
	bool "Arm Fault Management Unit"
	default n
