#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

choice PSA_ARCH_TEST
	prompt "Enable a PSA Architecture test suite"
	default PSA_ARCH_TEST_NONE

config PSA_ARCH_TEST_PROTECTED_STORAGE
	bool "PSA Protected Storage tests"
	depends on PSA_PROTECTED_STORAGE_API
	help
	  Enable the PSA Protected Storage test suite.

config PSA_ARCH_TEST_INTERNAL_TRUSTED_STORAGE
	bool "PSA Internal Trusted Storage tests"
	depends on PSA_INTERNAL_TRUSTED_STORAGE_API
	help
	  Enable the PSA Internal Trusted Storage test suite.

config PSA_ARCH_TEST_STORAGE
	bool "PSA Storage tests"
	depends on PSA_PROTECTED_STORAGE_API && PSA_INTERNAL_TRUSTED_STORAGE_API
	help
	  Enable the PSA Storage test suite. This is a combination of the
	  Protected Storage and Internal Trusted Storage tests.

config PSA_ARCH_TEST_CRYPTO
	bool "PSA Crypto tests"
	depends on MAIN_STACK_SIZE >= 4096
	help
	  Enable the PSA Crypto test suite.

config PSA_ARCH_TEST_NONE
	bool "No PSA test suite"

endchoice

choice PSA_ARCH_TEST_API_HEADERS
	prompt "Select which API header files to enable the PSA Arch Tests suite"
	default PSA_ARCH_TEST_API_TFM_HEADERS
	help
	  It defines an additional directory to be included into the
	  compiler search path. Users must select a PSA API header files
	  implementation for test suite build system.

config PSA_ARCH_TEST_API_TFM_HEADERS
	bool "Select the TF-M PSA API header files"
	help
	  Select the TF-M PSA API header files to enable the PSA Arch Tests suite.

config PSA_ARCH_TEST_API_MBEDTLS_HEADERS
	depends on MBEDTLS && PSA_ARCH_TEST_CRYPTO && \
			   (!PSA_ARCH_TEST_PROTECTED_STORAGE || \
			   !PSA_ARCH_TEST_INTERNAL_TRUSTED_STORAGE || \
			   !PSA_ARCH_TEST_STORAGE)
	bool "Select the Mbed TLS PSA Crypto API header files"
	help
	  Select the Mbed TLS PSA Crypto API header files to enable the PSA
	  Arch Crypto Tests suite.

endchoice
