/*
 * SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
 * affiliates <open-source-office@arm.com></text>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,rpmsg_rsc_table = &rsc_table;
		zephyr,rpmsg_shm = &shared_data;
		zephyr,rpmsg_mbox_dev = &pc_mbox_rpmsg_binding;
	};

	soc {
		shared_ram: memory@18000000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x0 0x18000000 DT_SIZE_M(40)>;
			zephyr,memory-region = "SHRAM";
			zephyr,memory-region-mpu = "RAM_NOCACHE";
		};

		shared_data: buffers_mem@18001000 {
			compatible = "mmio-ipc-sram";
			reg = <0x0 0x18001000 DT_SIZE_M(32)>;
			busaddr_delta_l = <0x68000000>;
			busaddr_delta_h = <0x80>;
		};

		rsc_table: rsc_table_mem@18000000 {
			compatible = "mmio-dram";
			reg = <0x0 0x18000000 DT_SIZE_K(4)>;
		};

		pc_mbox_rpmsg_binding: binding {
			compatible = "pc-mbox-rpmsg-binding";
			mboxes = <&pc_cl0_mbox_tx 0>, <&pc_cl0_mbox_tx 1>,
				 <&pc_cl0_mbox_rx 0>, <&pc_cl0_mbox_rx 1>,
				 <&pc_cl0_mbox_rx 2>, <&pc_cl0_mbox_rx 3>,
				 <&pc_cl0_mbox_tx 2>;

			mbox-names = "vq0_tx", "vq1_tx", "vq0_rx",
				     "vq1_rx", "detach", "attach",
				     "ack";
		};
	};
};

&pc_cl0_mbox_rx {
	status = "okay";
};

&pc_cl0_mbox_tx {
	status = "okay";
};
