#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig FAULT_MGMT
	bool "Fault management"
	help
	  Enable the fault management subsystem

if FAULT_MGMT

config FAULT_MGMT_STACK_SIZE
	int "Fault management stack size"
	default 1024

config FAULT_MGMT_QUEUE_SIZE_CRITICAL
	int "Fault management receive queue size for critical faults"
	default 64

config FAULT_MGMT_QUEUE_SIZE_NON_CRITICAL
	int "Fault management receive queue size for non-critical faults"
	default 64

config FAULT_MGMT_THREAD_PRIORITY_CRITICAL
	int "Fault management thread priority for critical fault processing"
	default 10

config FAULT_MGMT_THREAD_PRIORITY_NON_CRITICAL
	int "Fault management thread priority for non-critical fault processing"
	default 5

config FAULT_MGMT_SHELL
	bool "Fault management shell"
	select SHELL
	help
	  Activate shell module that provides commands to manually inspect and
	  control the Arm fault management subsystem.

config FAULT_MGMT_SAFETY
	bool "Fault management safety state integration"
	help
	  Control and report the status of an attached safety state management
	  device in response to faults

menuconfig FAULT_MGMT_STORAGE
	bool "fault management storage"
	default n
	select SYS_HASH_MAP
	help
	  If selected, enables the fault storage feature which requires a
	  subsequent choice of storage backend.

if FAULT_MGMT_STORAGE

choice
	prompt "Select fault management storage backend"
	optional

config FAULT_MGMT_STORAGE_SYS_HASH_MAP
	bool "Use system hash map for fault storage"
	help
	  Utilize the system hash map as the backend for storing fault records.

config FAULT_MGMT_PSA_PROTECTED_STORAGE
	bool "Use PSA Protected Storage for fault management"
	select PSA
	select TFM_PSA_PROTECTED_STORAGE_API
	help
	  Utilize PSA Protected Storage as the backend for storing fault records.

endchoice

if FAULT_MGMT_PSA_PROTECTED_STORAGE

config FAULT_MGMT_NAMESPACE_ID
	hex "Configure UID namespace for PSA Protected Storage"
	default 0xAAFF5500
	help
	  Specify the unique identifier (UID) namespace for storing
	  fault records in the PSA Protected Storage.

config MAX_PSA_PROTECTED_STORAGE_SIZE
	int "Fault management PSA storage size"
	default 50
	help
	  Specify the maximum number of new fault records that can be stored
	  or allocated in the PSA Protected Storage. Currently, there is a
	  limitation where the maximum storage size is capped at 50.

endif
endif

module = FAULT_MGMT
module-str = Fault management
source "subsys/logging/Kconfig.template.log_config"

endif
