#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig PSA
	bool "PSA Service"
	select POLL
	help
	  Enable the PSA Service subsystem

if PSA

config PSA_PROTECTED_STORAGE_API
	bool "PSA Protected Storage API"

config PSA_INTERNAL_TRUSTED_STORAGE_API
	bool "PSA Internal Trusted Storage API"

module = PSA_SERVICE
module-str = psa_service
source "subsys/logging/Kconfig.template.log_config"

endif
