#
# SPDX-FileCopyrightText: <text>Copyright 2023 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

# Virtual Ethernet over IPC RPMSG Static Vrings configuration options

menuconfig IPC_RPMSG_VETH
	bool "Virtual ethernet over IPC RPMSG Static Vrings"
	default n

config IPC_RPMSG_VETH_COUNT
	int "Number of virtual ethernet created"
	default 1
	help
	  By default only one network interface is created. It is possible
	  to create multiple interfaces in certain use cases.

config IPC_RPMSG_VETH_DRV_NAME
	string "IPC RPMSG Virtual Ethernet Driver Name"
	default "ipc_rpmsg_veth"
	help
	  This option sets the driver name and name of the network interface
	  in your host system. If there are multiple network interfaces defined,
	  then this value is used as a prefix and the interface names will be
	  ipc_rpmsg_veth0, ipc_rpmsg_veth1, etc.

config IPC_RPMSG_VETH_EPT_NAME_0
	string "RPMSG Named Service Announcement Endpoint name"
	help
	  RPMSG Named Service Announcement Endpoint name for virtual ethernet 0.

config IPC_RPMSG_VETH_MAC_ADDR_0
	string "Mac address"
	help
	  Ethernet mac address for virtual ethernet 0.

config IPC_RPMSG_VETH_SI_IPV4_ADDR_0
	string "IPv4 address"
	help
	  IPv4 address for virtual ethernet 0.

config IPC_RPMSG_VETH_SI_NETMASK_0
	string "Netmask"
	help
	  Static netmask to use if not overridden by DHCP for virtual
	  ethernet 0.
